@page
@using ASC.Web.Models
@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />

                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Email" type="email" class="validate" autocomplete="username" placeholder="name@example.com">
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.Password" type="password" class="validate" autocomplete="new-password" placeholder="Please enter your password.">
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Input.ConfirmPassword" type="password" class="validate" autocomplete="new-password" placeholder="Please confirm your password.">
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit">
                        Reset Password
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}